<div class="row collapse">
  <div>
    <ul class="list">
    <% @lists.each do |list| %>
      <% if !list.private %>
        <li class="list-item">
          <div class="list-item-header">
            <p>
              <%= "#{list.likes.count} - #{list.title}" %>
              <%= link_to list, class: "index-content-link right" do %>
                <i class="fa fa-arrow-right fa-lg"></i>
              <% end %>
            </p>
          </div>

          <div class="list-item-preview markdown-content">
            <h1> List Content </h1>
            <%= render_markdown(list.content) %>
            <%= link_to 'Go', list_path(list), class: "label radius small" %>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
