<% provide(:title, "Edit Comment") %>
<%= simple_form_for([@list, @comment]) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.input :content, required: true, autofocus: true %>
    </div>
    <%= f.button :submit, class: "button expand" %>
<% end %>
